body {
    font-family: bisque;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: black;
    background-color: beige;
    border: 1px solid black;
    width: 400px;
    height: 550px;
    border-radius: 5px;
}

#duck-container {
    margin: 20px auto;
    width: 300px;
}

img {
    width: 100%;
    border-radius: 8px;
}

button {
    margin: 10px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode button {
    background-color: white;
    color: black;
}
#image {
    width: 350px;
}
#foods-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
